
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add New User Profile</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="addnewuser">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Username" formControlName="username">
                                      <mat-error *ngIf="addnewuser.get('username').hasError('required')">
                                        You must enter a value
                                      </mat-error> 
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Password" type="password" formControlName="password">
                                      <mat-error *ngIf="addnewuser.get('password').hasError('required')">
                                        You must enter a value
                                      </mat-error> 
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="First Name" type="text" formControlName="firstname">
                                    <mat-error *ngIf="addnewuser.get('firstname').hasError('required')">
                                      You must enter a value
                                    </mat-error> 
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Last Name" type="text" formControlName="lastname">
                                    <mat-error *ngIf="addnewuser.get('lastname').hasError('required')">
                                      You must enter a value
                                    </mat-error> 
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Phone" type="text" formControlName="phone">
                                    <mat-error *ngIf="addnewuser.get('phone').hasError('required')">
                                      You must enter a 10 digit number
                                    </mat-error> 
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" type="text" formControlName="email">
                                    <mat-error *ngIf="addnewuser.get('email').hasError('required')">
                                      You must enter a valid Email
                                    </mat-error> 
                                  </mat-form-field>
                                </div>
                            </div>
                            <mat-slide-toggle color="primary" formControlName="active">Manage Access</mat-slide-toggle> 
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="addnewuser.invalid" (click)="adduser()">Add New Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  