<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add New Teacher</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="addnewteacher">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Teacher Name" formControlName="TeacherFullName">
                                      <mat-error *ngIf="addnewteacher.get('TeacherFullName').hasError('required')">
                                        You must enter a value
                                      </mat-error> 
                                    </mat-form-field>
                                </div>
                    
                            </div> 
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="User Name" formControlName="UserName">
                                      <mat-error *ngIf="addnewteacher.get('UserName').hasError('required')">
                                        You must enter a value
                                      </mat-error> 
                                    </mat-form-field>
                                </div>
                    
                            </div>       
                            <br>                                                     
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="addnewteacher.invalid" (click)="addteacher()">Add Teacher</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  